{% extends "base.html" %}

{% block content %}
<div class="col-md-12">
    <div class="panel panel-primary">
    	<div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-line-chart"></i> Home <a class="pull-right fa fa-gear" href="#" style="text-decoration:none;"></a></h3>
        </div>
        <div class="panel-body">
            <p>Welcome to the Project Night Tracker! Our index page is all set up, but want to start tracking challenge participants. That's where you come in!</p>
        </div>
    </div>
</div>
{% endblock content %}