[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "~=1.1.4"
pandas = "==0.25.1"
seaborn = "==0.9.0"
sklearn = "==0.21.3"


[requires]
python_version = "3.7"